@font-face {
  font-family: 'IBM';
  font-style: normal;
  src: url(Fontes/IBM\ Plex\ Mono\ -\ Regular.woff2);
}

@font-face {
  font-family: 'BMI';
  font-style: bold;
  src: url(Fontes/IBM\ Plex\ Mono\ -\ Grosso.woff2);
}

@font-face {
  font-family: 'BMIP';
  font-style: bolder;
  src: url(Fontes/IBM\ Plex\ Mono\ -\ Grosso++.woff2);
}

@font-face {
  font-family: 'Tan';
  font-style: normal;
  src: url(Fontes/TAN\ MERINGUE.woff2)
}

*{
  margin: 0;
  padding: 0;
  font-family: IBM;
}

html{
  display: flex;
  flex-direction: column;
}

body{
  background-color: #F2F2F7;
  overflow-x: hidden;
  width: 1920px;
  align-self: center;
}

.meringue{
  font-family: tan;
  font-weight: lighter;
}

a{
  font-style: normal;
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
}

svg{
  -webkit-filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.25))
}

#logo_1{
  width: fit-content;
  position: absolute;
  rotate: -4deg;
  margin-top: 14em;
  margin-left: 15em;
  z-index: 99;
}

#logo_1 div{
  position: absolute;
}

img{
  position: absolute
}

#logo_1 img{
  -webkit-filter: drop-shadow(10px 10px .5px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(10px 10px 0.5px rgba(0, 0, 0, 0.25));
  width: 42em;
  margin-top: -9em;
  margin-left: -4em;
  rotate: -1deg;
}

#logo_1 h1{
  font-size: 9em;
}

#logo_1 p{
  font-size: 1.5em;
  margin-left: 235px;
  margin-top: -40px;
  text-wrap: nowrap;
  font-family: BMI;
}

.box{
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.loptions{
  width: 46%;
  height: 543px;
  margin-top: 45px;
  margin-left: 50.41%;
  font-size: 32px;
  max-width: 28em;
}

.loptions div{
  display: flex;
}

.loptions div p{
  text-align: center;
  width: 100%;
  align-self: center;
  font-family: BMI;
}

.btnstud{
  width: 82%;
  background-color: #FFECD2;
  height: 91px;
  margin-left: 9%;
  margin-top: 50px;
}

.btn1{
  width: 70%;
  background-color: #EEEEEE;
  height: 80px;
  margin-left: 15%;
  margin-top: 40px;
}

#only_used_once{
  width: 100%;
  font-size: 32px;
  margin-top: 160px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 300px;
}

#only_used_once p{
  width: 50em;
  align-self: center;
}

#only_used_once .meringue{
  color: white;
}

.independent{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: center;
}

#only_used_once img{
  width: 60em;
  align-self: center;
  -webkit-filter: drop-shadow(0px -10px 2px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px -10px 2px rgba(0, 0, 0, 0.25));
  margin-top: -130px;
}

.deep{
  background-color: #F2F2F7;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  margin-top: 50px;
  margin-left: calc(100% - 351px);
}

.deep p{
  font-size: 32px;
  align-self: center;
  width: 100%;
  color: black;
  font-family: BMI;
}

#only_used_once .deep{
  width: 351px;
  height: 59px;
}

#navsticky{
  position: sticky;
  top: -30px;
  margin-top: 00px;
  color: white;
  margin-left: 15px;
  width: 100%;
  height: 350px;
  z-index: 989;
}

#navsticky img{
  width: 100%;
  margin-top: 0px;
  -webkit-filter: drop-shadow(0px 10px 2px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 10px 2px rgba(0, 0, 0, 0.25));
}

#navsticky h1{
  position: absolute;
  font-size: 6em;
  rotate: -3.96deg;
  margin-left: 150px;
  margin-top: 50px;
}

.centrao{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_paper{
  margin-left: 10%;
  margin-bottom: 200px;
  align-self: flex-start;
}

.title_paper h1{
  font-size: 48px;
  position: absolute;
}

.title_paper img{
  width: 45em;
  margin-left: -30px;
  margin-top: -50px;
  -webkit-filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.25));
}

.long, .short{
  padding-left: 50px;
  padding-right: 50px;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.long{
  width: 77%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.short{
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.long p, .short p{
  font-family: BMI
}

.bold{
  font-family: BMIP;
}

.poly{
  -webkit-filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.25));
  width: 70%;
  font-size: 32px;
  margin-bottom: 50px;
  height: 300px;
}

.poly p{
  position: absolute;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.poly img{
  width: 100%;
}

footer{
  width: 100%;
  margin-top: 100px;
  height: 400px;

}

footer img{
  width: 1920px;
  align-self: center;
  -webkit-filter: drop-shadow(0px -10px 2px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px -10px 2px rgba(0, 0, 0, 0.25));

}

/*-------------------------------------------------*/

#papel_login{
  align-self: center;
}
